<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.xiaopan.examples.android"
    android:versionCode="100"
    android:versionName="1.0.0" >

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="19" />

    <!-- 声明要使用的权限 -->
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SEND_SMS" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.location.gps"/>

    <!-- 声明应用需要的各种组件 -->
    <application android:allowBackup="true" android:icon="@drawable/icon_launcher" android:label="@string/app_name" android:theme="@style/AppTheme" android:name="me.xiaopan.examples.android.MyApplication" >
		<activity android:name="me.xiaopan.examples.android.activity.MainActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
             </intent-filter>
        </activity>
       	<activity android:name="me.xiaopan.examples.android.activity.AnimationsActivity" android:label="@string/activityTitle_animations"/>
       	<activity android:name="me.xiaopan.examples.android.activity.custom.CustomEditTextActivity" android:label="@string/activityTitle_customEditText"/>
    	<activity android:name="me.xiaopan.examples.android.activity.CustomWidgetsActivity" android:label="@string/activityTitle_customWidgets"/>
       	<activity android:name="me.xiaopan.examples.android.activity.custom.PicturePlayerActivity" android:label="@string/activityTitle_picturePlayer"/>
       	<activity android:name="me.xiaopan.examples.android.activity.custom.ReboundListActivity" android:label="@string/activityTitle_reboundListView"/>
       	<activity android:name="me.xiaopan.examples.android.activity.custom.SlideTabHostActivity" android:label="@string/activityTitle_slideTabHost"/>
       	<activity android:name="me.xiaopan.examples.android.activity.custom.SlidingToggleButtonActivity" android:label="@string/activityTitle_slidingToggleButton"/>
       	<activity android:name="me.xiaopan.examples.android.activity.custom.SuperListViewActivity" android:label="@string/activityTitle_superListView"/>
    	<activity android:name="me.xiaopan.examples.android.activity.graphics.CameraPreviewActivity" android:label="@string/activityTitle_cameraPreview"/>
   		<activity android:name="me.xiaopan.examples.android.activity.graphics.ClipDrawableActivity" android:label="@string/activityTitle_clipDrawable"/>
   		<activity android:name="me.xiaopan.examples.android.activity.GraphicsActivity" android:label="@string/activityTitle_graphics"/>
   		<activity android:name="me.xiaopan.examples.android.activity.graphics.RotateDrawableActivity" android:label="@string/activityTitle_rotateDrawable"/>
   		<activity android:name="me.xiaopan.examples.android.activity.MediasActivity" android:label="@string/activityTitle_medias"/>
     	<activity android:name="me.xiaopan.examples.android.activity.other.AccessNetworkActivity" android:label="@string/activityTitle_accessNetwork"/>
     	<activity android:name="me.xiaopan.examples.android.activity.other.DownloadImageActivity" android:label="@string/activityTitle_downloadImage"/>
    	<activity android:name="me.xiaopan.examples.android.activity.other.ImageLoaderActivity" android:label="@string/activityTitle_imageLoader"/>
   		<activity android:name="me.xiaopan.examples.android.activity.OthersActivity" android:label="@string/activityTitle_others"/>
   		<activity android:name="me.xiaopan.examples.android.activity.other.TakeBusinessCardActivity" android:label="@string/activityTitle_takeBusinessCard"/>
  		<activity android:name="me.xiaopan.examples.android.activity.other.TTSActivity" android:label="@string/activityTitle_ttsActivity"/>
       	<activity android:name="me.xiaopan.examples.android.activity.widget.ProgressBarActivity" android:label="@string/activityTitle_progressBar"/>
       	<activity android:name="me.xiaopan.examples.android.activity.widget.TabHostActivity" android:label="@string/activityTitle_tabHost"/>
       	<activity android:name="me.xiaopan.examples.android.activity.widget.TabContentActivity"/>
      	<activity android:name="me.xiaopan.examples.android.activity.widget.ViewPagerActivity" android:label="@string/activityTitle_viewPager"/>
   		<activity android:name="me.xiaopan.examples.android.activity.WidgetsActivity" android:label="@string/activityTitle_widgets"/>
   		<activity android:name="me.xiaopan.examples.android.activity.widget.FragmentTabHostActivity" android:label="@string/activityTitle_fragmentTabHost"/>
  		<activity android:name="me.xiaopan.examples.android.activity.widget.FloatingWindowActivity" android:label="@string/activityTitle_floatingWindow"/>
  		<activity android:name="me.xiaopan.examples.android.activity.widget.GalleryActivity" android:label="@string/activityTitle_gallery"/>
  		<activity android:name="me.xiaopan.examples.android.activity.widget.DrawerLayoutActivity" android:label="@string/activityTitle_drawerLayout"/>
     		
    	<service android:name="me.xiaopan.examples.android.service.FloatingWindowService"/>
    	
    	<meta-data android:name="UMENG_APPKEY" android:value="525e527a56240b4bde082b19"/>
    	<meta-data android:name="Channel ID" android:value="Google Play"/>
    	<receiver android:name="me.xiaopan.easy.android.receiver.StartApplicationBrocastReceiver"/>
    </application>
</manifest>